<h3>View Employee Details</h3>
<div>

      <div>
        <label> <b>User Name:</b></label>{{employee.userName}}
      </div>
        <div>
            <label> <b>Email:</b></label>{{employee.emailId}}
        </div>
        <div>
            <label> <b>Mobile Number:</b></label>{{employee.mobileNumber}}
        </div>
        <div>
            <label> <b>Specialization:</b></label>{{employee.specialization}}
        </div>
        <div>
            <label> <b>Gender:</b></label>{{employee.gender}}
        </div>

</div>