<img src="assets/img/about.jpg" alt="Your Image">
<blockquote class="blockquote text-right">
    <p class="mb-0">Hospital management system hepls the patients to book an appointment with the doctor of their choice and have a healthy life.</p>
    </blockquote>
<style>
    img {
      width: 50%; /*image width*/
      float: left; /*image position*/
    }
    p {
      width: 50%;
      float: right;
    }
    /*If you face any problem make sure the <body> element has no padding.
    If you want some white space between the image and text, reduce the width
    percentages and make use of "margin" and "padding"*/
  </style>
  